/* --- start of CSS reset --- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  border-radius: 0;
}

/* --- end of CSS reset --- */
body {
  min-width: 1400px;
  overflow: scroll;
}

#root {
  width: 100%;
  min-width: 1600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #d2454b;
}

.header {
  width: 100%;
  height: 340px;
  padding-left: 40px;
  max-width: 1520px;
}

.h-img {
  height: 100%;
  background: transparent url(img/italy.png) no-repeat;
  background-size: contain;
}

.vespa-logo {
  width: 385px;
  height: 400px;
  position: relative;
  left: 970px;
  top: -300px;
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.765));
}

.vl-circle {
  background-color: #445d1c;
  width: 360px;
  height: 360px;
  border-radius: 50%;
}

.vl-img {
  height: 90%;
  width: 80%;
  position: absolute;
  background: transparent url(img/vespa.png) no-repeat;
  background-size: auto;
  background-size: contain;
  bottom: -1px;
  left: 81px;
}

.vl-teamtext {
  height: auto;
  position: absolute;
  bottom: 278px;
  left: 22px;
  transform: rotate(-45deg);
  text-align: center;
}

span {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: x-large;
}

.container {
  width: 100%;
  max-width: 1520px;
  height: auto;
  background-color: #cbaa8b;
  border: solid 11px #d9d9d9;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
}

.c-title {
  grid-row: 1;
  grid-column: 1/5;
}

.title {
  color: #463926;
  font-family: "Kalam", cursive;
  font-size: 50px;
  line-height: 120%;
}

.title-text,
label {
  color: #463926;
  font-family: "Kalam", cursive;
  font-size: 30px;
}

.c-order {
  grid-row: 2;
  grid-column: 3/5;
  justify-content: center;
  display: flex;
}

.c-menu {
  grid-row: 2;
  grid-column: 1/3;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 25px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}

.pizza {
  width: 310px;
  height: 480px;
  background-color: #d9d9d9;
  font-family: "Kalam", cursive;
  color: #463926;
  font-size: 16px;
  line-height: 1.2;
  padding-inline: 20px;
  padding-block: 10px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.1));
}

.pizza h3 {
  padding-block: 10px;
}

.pizza hr {
  border: #463926 solid 1px;
  margin-block: 8px;
}

.pizza-pics {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza img {
  scale: 0.8;
  line-height: 0.8;
  display: block;
}

.pizza label {
  font-size: 20px;
}

.pizza input {
  width: 66px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.ordering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-order {
  height: 40px;
  width: 80px;
  background: white url(img/basket.png) no-repeat center center;
  background-size: 38%;
  border-radius: 10px;
}

.add-order:hover {
  background-color: rgba(86, 86, 86, 0.2);
  transition: 0.1s ease-in;
}

.order-amount {
  position: relative;
  top: -50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pizza:hover {
  background-color: #eeeded;
  transition: 0.1s ease-in;
}

.pizza h5 {
  font-size: 22px;
}

.co-bar {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #736759;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Kalam", cursive;
  font-size: 20px;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.8));
  margin-bottom: 30px;
}

.co-bar hr {
  border: white 2px solid;
  margin-left: 10px;
  margin-right: 10px;
}

.co-bar h1 {
  text-align: center;
}

.co-bar h1,
h2 {
  font-size: 40px;
}

.order-pizza {
  min-height: 50px;
}

.order-pizza h1 {
  text-align: start;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 30px;
}

.order-pizza h2 {
  text-align: end;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  font-size: 30px;
}

.orderSum {
  text-align: end;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  font-size: 40px;
  line-height: 1;
}

.co-bar h2 {
  line-height: 1.2;
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
}

.co-bar h3 {
  font-weight: 400;
}

.co-bar h5 {
  line-height: 1.2;
  text-align: center;
  font-size: 40px;
}

.place-order {
  width: 100%;
  height: 60px;
  background-color: #463926;
  border-radius: 10px;
  font-family: "Kalam", cursive;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

.place-order:hover {
  background-color: #ae6909;
  transition: 0.1s ease-in;
}

.del-button-field {
  margin-block: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.del-order {
  width: 60px;
  height: 60px;
  background: transparent url(img/delete.png) no-repeat;
  background-size: contain;
  filter: opacity(70%);
}

.del-order:hover {
  filter: none;
  transition: 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 12px black);
}

.c-delivery {
  grid-row: 3;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr;
  padding-top: 20px;
  border-top: #463926 3px solid;
  display: none;
}

.c-delivery .title {
  grid-row: 1;
  grid-column: 1/7;
}

.cd-input {
  grid-row: 2/4;
  grid-column: 1/6;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.cd-button-field {
  grid-row: 2/4;
  grid-column: 6/7;
}

input {
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 22px;
}

#name {
  width: 80%;
}

.input-name {
  grid-row: 1;
  grid-column: 1/3;
}

#phone {
  width: 80%;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-phone {
  grid-row: 2;
  grid-column: 1/3;
}

#zip {
  width: 60%;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-zip {
  grid-row: 1;
  grid-column: 3/4;
}

#city {
  width: 80%;
}

.input-city {
  grid-row: 1;
  grid-column: 4/6;
}

#street {
  width: 80%;
}

.input-street {
  grid-row: 2;
  grid-column: 3/5;
}

#house {
  width: 60%;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-house {
  grid-row: 2;
  grid-column: 5/6;
}

.go-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #445d1c;
  color: #d9d9d9;
  font-family: "Kalam", cursive;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vespa-mini {
  width: 60px;
  height: 60px;
  background: transparent url(img/vespamini.png) no-repeat;
  background-size: contain;
  filter: brightness(100) opacity(0.4);
}

.go-button:hover {
  background-color: #7eac34;
  transition: 0.1s ease-in;
  filter: drop-shadow(2px 2px 12px black);
}
.go-button:hover .vespa-mini {
  filter: brightness(100) opacity(0.8);
}

.order-done-backg {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.order-done h1 {
  font-size: 60px;
  border-radius: 20px;
}

.od-img {
  width: 300px;
  height: 230px;
  background: transparent url(img/flaming-pizza.webp) no-repeat bottom;
  background-size: contain;
}

.order-done {
  width: 800px;
  height: 500px;
  background-color: rgba(210, 69, 75, 0.4901960784);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Kalam", cursive;
  border-radius: 20px;
}

.reload {
  font-size: 40px;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 40px;
  background-color: rgba(0, 0, 0, 0.631372549);
  border-radius: inherit;
}/*# sourceMappingURL=style.css.map */